/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  justify-content: center;
  margin: auto;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  background: #f0e2ee;
  padding: 200px 150px;
  color: #333;
  margin: 20px 80px;
}

h1, h2 {
  color: #e447b3;
  margin-top: 10px 10px;
  border-radius: 8px #e447b3;
  border: solid black 3px;
  /* background-color: #0a0a0a; */}
 .your-class-name {
  padding: 3px;
  width: 100%;
  max-width: 800px;
  height: 80px;
  line-height: 80px;
  text-align: center;
}


section, article {
  background: #e7bbbb;
  padding: 20px;
  margin: 15px 80;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* Articles list style */
article h2 {
  color: #444;
}

/* Forms */
form {
  background: #b291d4;
  padding: 20px;
  margin: 200px 400px;
  border-radius: 40px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  margin:center;
  border-radius:3px;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="fname"],
input[type="lname"],
input[type="country"] {
  width: 100%;
  padding: 10px;
  margin: 8px 0 15px 0;
  border: 1px solid #edabd8;
  border-radius: 5px;
  font-size: 16px;
}

input[type="submit"] {
  background: #2c7be5;
  color: rgb(222, 166, 239);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

input[type="submit"]:hover {
  background: #1a5fc4;
}
